
/* Todos los párrafos div hijos del párrafo div con identificador monumentos, 
que tengan el atributo id se van a mostrar con estructura de flexbox. Todos ellos van a tener:
i. alineación vertical centrada
ii. ancho que será el 100% del ancho de visualización
iii. alto de 700 pixeles
iv. borde de color naranja.*/ 

div#monumentos > div[id] {
	display: flex;
	align-items: center;
	width: 100%;
	height: 700px;
	border: orange 2px solid;
}

/* Todos los párrafos div hijos de los párrafos div anteriores van a tener:
i. ancho del 30% del ancho de visualización
ii. borde de color rojo.*/


div#monumentos > div[id]>div{
	width: 30%;
	border: red 2px solid;
}

/* El párrafo con identificador giralda va a tener:
i. alineación vertical a la parte superior
ii. alineación horizontal va a ser con espacios al final de la línea.

SE APLICA EL ALIGN SELF, NO EL ALIG ITEMS. EL ALIGN SELF VA CON LOS HIJOS*/

#giralda {
	align-self: flex-start;
	justify-content: flex-end;
}

/* El párrafo con identificador catedral va a tener:
alineación vertical a la parte inferior.
ii. Los párrafos que contiene van a decrementar su ancho para que el tamaño de todos ellos ocupa el ancho del padre, para lo cual:
los dos párrafos centrales se van a decrementar el doble que los párrafos exteriores.
iii. alineación horizontal va a va ser centrado. (CREO QUE ES CON EL JUSTIFY CONTENT. )
*/
#catedral {
	align-self: flex-end;
	justify-content: center; 
	
}

#catedral>div:nth-child(2),#catedral>div:nth-child(3) {

	flex-shrink: 2;
}

#catedral>div:nth-child(1),#catedral>div:nth-child(4) {

	flex-shrink: 1;
}

/* El párrafo con identificador detcatedral va a tener:
i. alineación vertical, a la base de la línea
ii. alineación horizontal va a ser insertando blancos en medio. )
*/

#detcatedral {

	align-self: baseline;
	justify-content: space-between;
}

/* El párrafo con identificador retcatedralla va a tener alineación horizontal insertado blancos al inicio y al final.

ENTIENDO QUE POR DEFECTO, CON EL AUTO, ES HORIZONTAL. Y NO ESTOY SEGURO DE USAR EL SPACE-AROUND, PERO EN LOS APUNTES ES EL ÚNICO QUE QUEDA SIN USAR)
QUÉ DIFERENCIA HABÍA ENTRE EL JUSTIFY-CONTENT Y EL align-content??
*/

#retcatedral {

	align-self: auto; 
	justify-content: space-around; 
}