/* PUNTO A */
#historia p {

	font-family: Times New Roman;
	font-size: 9pt;
	color: red;

}


@media (min-width: 400px) {

	#historia p {

	font-family: Times New Roman;
	font-size: 11pt;
	color: green;

	}

}

@media (min-width: 800px) {

	#historia p {

	font-family: Times New Roman;
	font-size: 13pt;
	color: blue;

	}

}

/* PUNTO B */


#cuerpo div * span {

	font-family: Comic Sans;
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
	color: blue;


}


@media (min-width: 400px) {

	#cuerpo div * span {

	font-family: Comic Sans;
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
	font-size: 11pt;
	color: red;


	}

}

@media (min-width: 800px) {

	#cuerpo div * span {

	font-family: Comic Sans;
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	color: green;

	}

}

/* PUNTO C */

h3 + div {

	font-family: Tahoma;
	font-size: 10pt;
	color: green;


}


@media (min-width: 400px) {
	
	h3 + div {

	font-family: Tahoma;
	font-size: 12pt;
	color: red;


	}

}

@media (min-width: 800px) {
	
	h3 + div {

	font-family: Tahoma;
	font-size: 14pt;
	color: blue;


	}

}

/* PUNTO D */

#historia ol > li {

	color: #1C5C25;


}

/* PUNTO E Creo que no hace falta poner el * en el li, porque lo aplica de igual forma. */

* li  { 

	color: #520909;


}