/* PUNTO A */

h3[title] {

	font-family: Arial;
	color: #948B0E;

}

/* PUNTO B */

[class="historia"] { /* O SE PODRÍA PONER *.HISTORIA Y CREO QUE HACE LO MISMO. */

	font-family: Century;
	color: #CBE68D;
	font-size: 9pt;

}


@media (min-width: 450px) {

[class="historia"] { /* O SE PODRÍA PONER *.HISTORIA Y CREO QUE HACE LO MISMO. */

	font-family: Century;
	color: #CBE68D;
	font-size: 10pt;

}

	}


@media (min-width: 900px) {

[class="historia"] { /* O SE PODRÍA PONER *.HISTORIA Y CREO QUE HACE LO MISMO. */

	font-family: Century;
	color: #CBE68D;
	font-size: 11pt;

}

	}


/* PUNTO C */

.cantabra { /* O SE PODRÍA PONER *.HISTORIA Y CREO QUE HACE LO MISMO. */

	font-family: Corbel;
	color: #54B3B6;
	font-size: 10pt;

}


@media (min-width: 450px) {

.cantabra { /* O SE PODRÍA PONER *.HISTORIA Y CREO QUE HACE LO MISMO. */

	font-family: Corbel;
	color: #54B3B6;
	font-size: 11pt;

}


	}

@media (min-width: 900px) {

.cantabra { /* O SE PODRÍA PONER *.HISTORIA Y CREO QUE HACE LO MISMO. */

	font-family: Corbel;
	color: #54B3B6;
	font-size: 12pt;

}


	}

/* PUNTO D */

[title^="Cantabra"] {

	font-family: Georgia;
	color: #751A7C;
	font-size: 11pt;


}

@media (min-width: 450px) {

	[title^="Cantabra"] {

	font-family: Georgia;
	color: #751A7C;
	font-size: 12pt;


}
}

@media (min-width: 900px) {

	[title^="Cantabra"] {

	font-family: Georgia;
	color: #751A7C;
	font-size: 13pt;


	}
}

/* PUNTO E */

[title$="loco"] {

	font-family: Latha;
	color: #273CDD;
	font-size: 11pt;


}


@media (min-width: 450px) {

[title$="loco"] {

	font-family: Latha;
	color: #273CDD;
	font-size: 12pt;


	}

}


@media (min-width: 900px) {

[title$="loco"] {

	font-family: Latha;
	color: #273CDD;
	font-size: 13pt;


	}

}

/* PUNTO F */

[title*="conquista"]  {

	font-family: Calibri;
	color: #910D1F;
	font-size: 8pt;


}


@media (min-width: 450px) {

[title*="conquista"]  {

	font-family: Calibri;
	color: #910D1F;
	font-size: 10pt;


	}

}

@media (min-width: 900px) {

[title*="conquista"]  {

	font-family: Calibri;
	color: #910D1F;
	font-size: 12pt;


	}

}

/* PUNTO G */

[title*="conquista"]  {

	font-family: Calibri;
	color: #910D1F;
	font-size: 12pt;


	}

.reconquista::first-letter {

	color: #CDB3DD;
	font-size: 3em;


}

/* PUNTO H */
.cantabria::first-line {
	color: #D5D21B;
	text-transform: capitalize;

}