
/* EJERCICIO1*/
/* PUNTO A Haz que los párrafos de la clase "viene" que sean hijos de un elemento de la clase "origenes*/
.origenes > .viene {


font-family: Comic Sans;
color: green;
font-size: 14pt;
text-decoration: underline;
}

/* PUNTO B  elementos que sean de la clase "primero" que sean hijos de un elemento de al menos de la clase "cordoba"*/
.cordoba > .primero {

font-family: Times New Roman;
color: blue;
font-size: 13pt;
font-style: italic;
}


/* PUNTO C elementos que el atributo class termine con la cadena "ana" */

[class$="ana"] {


font-weight: bold;

}

/* PUNTO D elementos que el atributo class empieza con el valor "siglo"*/

[class^="siglo"] {

font-weight: bold;
text-decoration: italic;


}

/* PUNTO E elementos que contengan en el atributo class la cadena "X" */
[class*="X"] {

color: red;

}


