

/*   Todo el documento va a tener como tipo de letra "Nyala" color de los caracteres 
"DarkRed" subrayado y en cursiva, el tamaño del tipo de letra va a depender de la resolución, 
así si la resolución es inferior a 625 pixeles el tamaño va a ser de 10 puntos, si la resolución está 
comprendida entre 625 pixeles y 1250 pixeles el 
tamaño va a ser de 11 puntos y si la resolución es 
superior a 1250 pixeles el tamaño va a ser de 13 puntos.          */


body {

	font-family: Nyala;
	color: darkred;
	font-weight: bold;
	text-decoration: underline;
	font-size: 10pt;

 	background:  url("../../imagenes/catedral leon.jpg") top left/ 50% 50% no-repeat, 
 					   url("../../imagenes/casa botines.jpg") top right/  50% 50% no-repeat, 
 					   url("../../imagenes/convento san marcos.jpg") bottom/ 50% 50% no-repeat;
 	background-attachment:fixed;				   
 	text-indent:10ch;

}


body {

	font-family: latha;
	font-size: 12pt;
	text-transform: lowercase;
	color: DarkSlateGray;


}

@media (min-width: 625px) {

 body { 

	font-size: 11pt;

	}

}

@media (min-width: 1250px) {

 body { 

	font-size: 13pt;

	}

}